* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.6));
    padding: 10px 20px;
    height: 90px;
  }
  .navbar ul {
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 130px;
    font-size: bold;
    align-items: center;
    margin-left: 90px;
  }
  li:first-child{
    color: black;
    background-color: white;
    padding: 10px 20px;
  }
  .section{
    display: flex;
    justify-content: space-around;
    margin: 25px;
  }
  .info{
    display: flex;
    background-color: black;
    color: white;
    height: 80vh;
  }
  .para{
    height: 200px;
    width: 600px;
    color: white;
    margin: 10px 30px;
    padding-top: 15%;
    font-size: 16px;
    padding-right: 20px;
  }
  .image{
    height: 400px;
    width: 600px;
    position: absolute;
    right: 100px;
    margin: 50px 30px;
  }